* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f9fa;
    font-family: 'Poppins', sans-serif;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100px;
    background-color: #002855;
    transition: width 0.3s ease;
    overflow: hidden;
    z-index: 999;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sidebar.open {
    width: 250px;
}

.sidebar h5 {
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap;
}

.sidebar.open h5 {
    opacity: 1;
}

.sidebar .nav-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.sidebar .nav-link {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 8px;
}

.sidebar .nav-link i {
    font-size: 20px;
    margin-right: 10px;
}

.sidebar .nav-link span {
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap;
}

.sidebar.open .nav-link span {
    opacity: 1;
}

.sidebar .nav-link:hover {
    background-color: #d7dde2;
    color: #000;
}

.sidebar .nav-link:hover i {
    color: #000;
}

/* Toggle button */
.toggle-btn {
    position: fixed;
    top: 15px;
    left: 15px;
    width: 30px;
    height: 30px;
    background-color: #34495e;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
}

.toggle-btn:hover {
    background-color: #0950ba;
}
